Microsoft.Flow/flows/7968cae9-d2b4-44a1-b027-4dcf388168ea/definition.json
{"name":"54af97e4-de0d-4713-98a5-a7a4b6a89dfb","id":"/providers/Microsoft.Flow/flows/54af97e4-de0d-4713-98a5-a7a4b6a89dfb","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TSCostSheet_CreateTSCostSheetFromQuotation","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"6ce513e2-c999-48f1-9367-4bc222462a55","type":"User","tenantId":"383db85b-9823-45fa-875d-c6404db4d31b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-10-22T07:06:07.2458162Z","connectionKeySavedTimeKey":"2026-04-22T08:07:01.4759044Z","clientCreatedTime":"2024-05-08T07:44:27Z","migrationSourceId":"/subscriptions/c6c6344b-0825-4478-a78d-c56f2e99ebe1/resourceGroups/383db85b982345fa875dc6404db4d31b-6ce513e2c99948f193674bc222462a55/providers/Microsoft.Logic/workflows/54af97e4-de0d-4713-98a5-a7a4b6a89dfb-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"edf06113-1c7d-493c-9693-a7d20a8b515b"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{"file":{"description":"Please select file or image","title":"File Content","type":"object","properties":{"name":{"type":"string"},"contentBytes":{"type":"string","format":"byte"}},"x-ms-content-hint":"FILE","x-ms-dynamically-added":true}},"required":["file"]}}}},"actions":{"Create_file":{"runAfter":{"Compose_4":["Succeeded"]},"metadata":{"operationMetadataId":"9474d7fc-f15e-4bec-a4c1-7a016061efbd"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","folderPath":"/Quotation","name":"@{outputs('Compose_4')}_@{triggerBody()?['file']?['name']}","body":"@triggerBody()['file']['contentBytes']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"CreateFile"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Compose":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"501150e9-9e0e-42c6-bb68-bfecd575bd1e"},"type":"Compose","inputs":"HeaderTable"},"Compose_2":{"runAfter":{"Create_file":["Succeeded"]},"metadata":{"operationMetadataId":"cca97b3c-96dc-452b-8ccd-53f90877a108"},"type":"Compose","inputs":"DetailTable"},"List_rows_present_in_a_table":{"runAfter":{"Compose":["Succeeded"]},"metadata":{"operationMetadataId":"6cd04be6-4d2d-475a-8d84-020ab94b29db","tableId":"@outputs('Compose')"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCEPMK6bUneeTq5-2wSvKMF9","file":"/@{outputs('Create_file')?['body/Name']}","table":"@outputs('Compose')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"List_rows_present_in_a_table_2":{"runAfter":{"Compose_2":["Succeeded"]},"metadata":{"operationMetadataId":"ffa0b4fc-979e-4267-b6bf-68678dfe87de","tableId":"@outputs('Compose_2')"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCEPMK6bUneeTq5-2wSvKMF9","file":"/@{outputs('Create_file')?['body/Name']}","table":"@outputs('Compose_2')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Apply_to_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Create_item":{"metadata":{"operationMetadataId":"5dc8f983-2c44-4e7e-bb1d-e833c0331701"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"253589a0-ffd7-48f2-b5ec-ed292443c878","item/RequestNumber":"@{outputs('Compose_4')}","item/RequestStatus/Value":"Draft","item/QTRef":"@{items('Apply_to_each')?['QTRef']}","item/TotalSelling":"@items('Apply_to_each')?['After Discount']","item/SpecialDiscount":"@items('Apply_to_each')?['SpecialDiscount']","item/Customer":"@{items('Apply_to_each')?['Customer']}","item/PriceIsQuotedIn":"@{items('Apply_to_each')?['Price is quoted in']}","item/PaymentTerm":"@{items('Apply_to_each')?['Payment Term']}","item/Delivery":"@{items('Apply_to_each')?['Delivery ']}","item/CustomerName":"@{items('Apply_to_each')?['Customer Name']}","item/Project":"@{items('Apply_to_each')?['Project Name']}","item/Telephone":"@{items('Apply_to_each')?['Telephone']}","item/Revision":"@{items('Apply_to_each')?['Revision']}","item/IssuedDate":"@{items('Apply_to_each')?['Issued Date']}","item/PriceValidityUntil":"@{items('Apply_to_each')?['Price Validity Until']}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"afa7490b-71ee-49b7-acf8-f167a481748b"},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('List_rows_present_in_a_table_2')?['body/value']","actions":{"Create_item_2":{"metadata":{"operationMetadataId":"c390141d-d577-4e0a-83e9-db6cf42013cf"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"38515695-246c-446e-bc64-967c3f4afb29","item/RequestNumber":"@{outputs('Compose_4')}","item/NumRow":"@items('Apply_to_each_2')?['Line']","item/PartNo":"@{items('Apply_to_each_2')?['P/N']}","item/Description":"@{items('Apply_to_each_2')?['Description']}","item/QTYPrice":"@{items('Apply_to_each_2')?['Quantity']}","item/UnitPrice":"@{items('Apply_to_each_2')?['Unit Price']}","item/TotalPrice":"@{items('Apply_to_each_2')?['Amount']}","item/UseForTSCostSheet":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"List_rows_present_in_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"9e97027f-5fb5-48c5-9475-065326866724"},"type":"Foreach"},"Respond_to_a_Power_App_or_flow":{"runAfter":{"Apply_to_each":["Succeeded"],"Apply_to_each_2":["Succeeded"]},"metadata":{"operationMetadataId":"63ea8bb9-2387-467c-aa01-aba35609ee50"},"type":"Response","kind":"PowerApp","inputs":{"schema":{"type":"object","properties":{"reqid":{"title":"ReqID","x-ms-dynamically-added":true,"type":"string"}},"additionalProperties":{}},"statusCode":200,"body":{"reqid":"@{outputs('Compose_4')}"}}},"Get_item":{"runAfter":{},"metadata":{"operationMetadataId":"1dcb7458-15a8-488d-b4ca-fbd4f16083b5"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"07d6b780-0701-45e9-b858-4559713331b3","id":1},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Update_item":{"runAfter":{"Get_item":["Succeeded"]},"metadata":{"operationMetadataId":"a1797571-1e87-43ad-a496-1020c542dbf6"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"07d6b780-0701-45e9-b858-4559713331b3","id":1,"item/Running":"@add(body('Get_item')?['Running'],1)"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Compose_4":{"runAfter":{"Update_item":["Succeeded"]},"metadata":{"operationMetadataId":"2a328adf-aef8-4b80-8a29-f279e30a89fc"},"type":"Compose","inputs":"Draft-@{body('Update_item')?['Running']}"}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"05d95475dc6d462ab383076695b33fc5","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-427082a0-ec88-4c0b-9136-32171fb0ca8c","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}