Microsoft.Flow/flows/407ec932-e888-4938-8d9f-988df5f33aee/definition.json
{"name":"e72bdb19-1931-4775-aba6-f652c0beee2e","id":"/providers/Microsoft.Flow/flows/e72bdb19-1931-4775-aba6-f652c0beee2e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"TSCostSheet_Gen PO","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"AlwaysFailingDetected","flowclientsuspensiontime":"2026-04-09T10:21:18.3756928Z","flowclientsuspensionreasondetails":"Your flow has failed consistently for 14 days. We disabled it on 4/9/2026 10:21:17 AM.","creator":{"id":"6ce513e2-c999-48f1-9367-4bc222462a55","type":"User","tenantId":"383db85b-9823-45fa-875d-c6404db4d31b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-02-19T09:05:59.488785Z","connectionKeySavedTimeKey":"2026-04-23T10:15:01.1383677Z","creationSource":null,"modifiedSources":"Portal","clientCreatedTime":"2025-09-16T17:59:22.2425972Z","migrationSourceId":"/subscriptions/c6c6344b-0825-4478-a78d-c56f2e99ebe1/resourceGroups/383db85b982345fa875dc6404db4d31b-6ce513e2c99948f193674bc222462a55/providers/Microsoft.Logic/workflows/e72bdb19-1931-4775-aba6-f652c0beee2e-azshadow"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"When_an_item_is_created":{"recurrence":{"interval":1,"frequency":"Minute"},"evaluatedRecurrence":{"interval":1,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","metadata":{"operationMetadataId":"fc764504-be97-45a3-b932-9e1d208ab657"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"b3663f25-de3a-4929-8402-871ce66f421c"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Add_a_row_into_a_table":{"runAfter":{"For_each_2":["Succeeded"]},"metadata":{"01J6FLED3P3UMAZ67N35HIYPMVCE74WB7G":"/PrefillSO/PrefillSOFile_Template.xlsx","tableId":"{2C979286-0A9B-430F-87FE-D315FC939C64}","017TGYDMZMF5HBCHSZZ5DZTP6LTGJ5IOFY":"/Prefill_SO_Template.xlsx","017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","operationMetadataId":"0f026287-24c4-48be-9550-ef9c951aaadd"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2C979286-0A9B-430F-87FE-D315FC939C64}","item/SupplierID":"@triggerBody()?['SupplierID']","item/Type":"@triggerBody()?['POType']","item/Ref":"@triggerBody()?['PORef']","item/Discount":"@triggerBody()?['PODiscount']","item/TSNumber":"@triggerBody()?['POTSNumber']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Get_items":{"runAfter":{"For_each":["Succeeded"]},"metadata":{"operationMetadataId":"b88cd6c4-0986-489f-9ea3-e0fd5b4dfdb9"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://misoutsourcing.sharepoint.com/sites/MisoApps/tscosting","table":"38515695-246c-446e-bc64-967c3f4afb29","$filter":"RequestNumber eq '@{triggerBody()?['POTSNumber']}' and PartNoConfirm ne null and SupplierID eq '@{triggerBody()?['SupplierID']}'"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each_1":{"foreach":"@outputs('Get_items')?['body/value']","actions":{"add_a_row_into_a_table_2":{"runAfter":{"Condition":["Succeeded"]},"metadata":{"01J6FLED3P3UMAZ67N35HIYPMVCE74WB7G":"/PrefillSO/PrefillSOFile_Template.xlsx","tableId":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}","017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","operationMetadataId":"08132ccb-3046-4681-be73-3493adf84ff0"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}","item/PartNo_x002e_":"@item()?['PartNoConfirm']","item/Description":"@variables('Description')","item/QTY":"@item()?['QTYCost']","item/UnitPrice":"@item()?['UnitCost']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"AddRowV2"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Set_variable":{"metadata":{"operationMetadataId":"0a905aaf-e022-4685-9e14-c864950a276b"},"type":"SetVariable","inputs":{"name":"Description","value":"@substring(item()?['Description'],0,50)"}}},"else":{"actions":{"Set_variable-copy":{"metadata":{"operationMetadataId":"b59779ab-04c2-4add-88a3-f8d31a6b7c47"},"type":"SetVariable","inputs":{"name":"Description","value":"@item()?['Description']"}}}},"expression":{"and":[{"greater":["@length(item()?['Description'])",50]}]},"metadata":{"operationMetadataId":"d27acae6-8584-4ef6-adcf-3db24ac19767"},"type":"If"},"Set_variable-copy_1":{"runAfter":{"add_a_row_into_a_table_2":["Succeeded"]},"metadata":{"operationMetadataId":"ea442571-b885-42a2-8f8f-e634395a05a6"},"type":"SetVariable","inputs":{"name":"Description","value":"@string(null)"}}},"runAfter":{"Initialize_variable":["Succeeded"]},"metadata":{"operationMetadataId":"47310efb-644a-407a-ba1a-4cbef1a4b8a4"},"type":"Foreach"},"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","tableId":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}","operationMetadataId":"dc086498-a073-416a-bf41-63a731904891"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each":{"foreach":"@outputs('List_rows_present_in_a_table')?['body/value']","actions":{"Delete_a_row-copy":{"metadata":{"017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","tableId":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}","operationMetadataId":"dd97e954-d647-4f48-905a-fe4133a3e2c9"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2B25E78C-0084-4C8F-998F-786B15B6AFCC}","idColumn":"PartNo_x002e_","id":"@items('For_each')?['PartNo_x002e_']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"metadata":{"operationMetadataId":"f44e7fc5-0314-4a87-bdb3-5f84fa502ddd"},"type":"Foreach"},"List_rows_present_in_a_table-copy":{"runAfter":{},"metadata":{"017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","tableId":"{2C979286-0A9B-430F-87FE-D315FC939C64}","operationMetadataId":"1e40749b-9a93-4aee-846f-cf54590b4288"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2C979286-0A9B-430F-87FE-D315FC939C64}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"For_each_2":{"foreach":"@outputs('List_rows_present_in_a_table-copy')?['body/value']","actions":{"Delete_a_row":{"metadata":{"017TGYDM4W3DYNQX64KNDLZXDLKW4ZMYKN":"/PrefillSOFile_Template.xlsx","tableId":"{2C979286-0A9B-430F-87FE-D315FC939C64}","operationMetadataId":"378c10e0-4835-4035-a182-7df366f41556"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"sites/misoutsourcing.sharepoint.com,cb4abee1-d036-4a74-990f-78f1001b4e79,d475f063-d594-4df3-bff7-23fc2cf19021","drive":"b!4b5KyzbQdEqZD3jxABtOeWPwddSU1fNNv_cj_CzxkCFvVHZZhSisR73O4G1jOa9H","file":"/PrefillPOFile_Template.xlsx","table":"{2C979286-0A9B-430F-87FE-D315FC939C64}","idColumn":"SupplierID","id":"@items('For_each_2')?['SupplierID']"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"DeleteItem"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_present_in_a_table-copy":["Succeeded"]},"metadata":{"operationMetadataId":"c94352fc-02ac-4191-832f-b69e7915192f"},"type":"Foreach"},"Run_a_flow_built_with_Power_Automate_for_desktop":{"runAfter":{"Delay":["Succeeded"]},"limit":{"timeout":"PT3M"},"metadata":{"operationMetadataId":"6139508b-26b5-4fda-b419-f220d6878c11"},"type":"OpenApiConnection","inputs":{"parameters":{"uiFlowId":"f1031835-2033-ef11-8e4e-6045bd1f5c58","runMode":"unattended","runPriority":"high"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_uiflow","connectionName":"shared_uiflow","operationId":"RunUIFlow_V2"},"authentication":"@parameters('$authentication')"}},"Post_message_in_a_chat_or_channel-copy":{"runAfter":{"Run_a_flow_built_with_Power_Automate_for_desktop":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"70a93130-dd74-4392-be10-824f3355f8db"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"napat.w@miso.co.th","body/messageBody":"<p class=\"editor-paragraph\">Purchase order flow failed.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}},"Delay":{"runAfter":{"Add_a_row_into_a_table":["Succeeded"],"For_each_1":["Succeeded"]},"metadata":{"operationMetadataId":"4073d96b-de63-4da6-94be-3921feb01a53"},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Second"}}},"Initialize_variable":{"runAfter":{"Get_items":["Succeeded"]},"metadata":{"operationMetadataId":"c8c392e5-9aed-4e11-9b50-ca61d21ba9a1"},"type":"InitializeVariable","inputs":{"variables":[{"name":"Description","type":"string"}]}},"Post_message_in_a_chat_or_channel":{"runAfter":{"Run_a_flow_built_with_Power_Automate_for_desktop":["Succeeded"]},"metadata":{"operationMetadataId":"01f7cbe0-656b-4f16-951c-36a86a8db075"},"type":"OpenApiConnection","inputs":{"parameters":{"poster":"Flow bot","location":"Chat with Flow bot","body/recipient":"saifon.t@miso.co.th","body/messageBody":"<p class=\"editor-paragraph\">Purchase order is ready to edit.</p>"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams-1","operationId":"PostMessageToConversation"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"05d95475dc6d462ab383076695b33fc5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-427082a0-ec88-4c0b-9136-32171fb0ca8c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_uiflow":{"connectionName":"shared-uiflow-e1fea856-b6d6-4e3b-a0ac-9c6d08ff3e65","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_uiflow","tier":"NotSpecified","apiName":"uiflow","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_teams-1":{"connectionName":"shared-teams-240a1dd2-5140-4484-b3f8-b14c1151f89c","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified","apiName":"teams","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}